:root {
  --primary-color: #403e3f;
  --secondary-color: #0b7a1a;
  --text-color: whitesmoke;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
}

.text-shadow-black {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}