{% extends "base.html" %}
{% block title %}{{ topic.title }}{% endblock %}
{% load static %}
{% load tailwind_tags %}
{% block extra_css %}
<style>
  .bg-img-first_section {
    background-image: url("{% static 'assets/bannerForum.jpg' %}");
    background-size: cover;
  }
</style>
{% endblock extra_css %}
{% block content %}
<main class="container mx-auto flex align-center flex-col h-full justify-center">
  <div class="bg-img-first_section h-64 flex items-center flex-col justify-start flex-grow w-full">
    <h1 id="UF" class="text-4xl text-center text-white">University Forum</h1>
    <div class="flex flex-row h-10 mt-10 pb-11">
      <input type="text" placeholder="search a topic" name="searchbar" class="hidden">
    </div>
  </div>
  <div class="whereAreYou w-full bg-gray-800 h-20 flex items-center justify-between px-6">
    <p class="text-white hover:text-gray-200">
      <a href="/home" class="hover:text-gray-200 hover:underline">home</a> &gt;
      <a href="/account" class="font-bold hover:text-gray-200">account</a>
    </p>
    <div class="hidden md:flex items-center">
      <a href="{% url 'home' %}" class="text-white hover:text-gray-200 mr-4">Return to the list of topics</a>
    </div>
  </div>
  <div class="profile-card flex flex-row justify-evenly items-center w-full px-6 bg-gradient-to-r from-blue-500">
    <div class="imgSecure flex flex-col items-center w-1/2 mr-4">
      <img src="{% static 'assets/human3.png' %}" alt="Update Profile">
      <h1 class="mt-2 text-center text-white text-shadow-black text-4xl">Profile</h1>
    </div>
    <div class="user-content flex flex-col items-center justify-center p-8 w-1/3">
      <div class="user-picture border-5 border-black overflow-hidden w-40 h-32 mb-8">
        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile picture" class="object-cover h-full w-full">
        {% else %}
        <img src="{% static 'assets/User.png' %}" alt="Default profile picture" class="object-cover h-full w-full">
        {% endif %}
      </div>
      <a href="{% url 'password_change' %}"
        class="block px-4 py-2 hover:text-white text-gray-700 text-lg font-medium mt-0">Reset password</a>
      <a href="{% url 'change-profile' %}"
        class="block px-4 py-2 hover:text-white text-gray-700 text-lg font-medium -mt-1">Update profile</a>
      <form action="{% url 'logout' %}" method="post" class="mt-0">
        {% csrf_token %}
        <button type="submit"
          class="px-4 py-2 bg-blue-500 rounded-lg text-white hover:bg-blue-600 text-xl font-medium mt-1 ml-1">Logout</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}