{% extends "base.html" %}
{% block title %}{{ topic.title }}{% endblock %}
{% load static %}
{% load tailwind_tags %}
{% block extra_css %}
<style>
    .bg-img-first_section {
        background-image: url("{% static 'assets/bannerForum.jpg' %}");
    }
</style>
{% endblock extra_css %}
{% block content %}
<main class="container mx-auto flex align-center flex-col h-full justify-center">
    <div class="container mx-auto flex flex-col h-full">
        <div class="bg-img-first_section h-64 flex items-center flex-col justify-start">
            <h1 id="UF" class="text-4xl text-center text-white">University Forum</h1>
            <div class="flex flex-row h-10 mt-10 pb-11">
                <input type="text" placeholder="search a topic" name="searchbar" class="hidden">
            </div>
        </div>
        <div class="whereAreYou w-full bg-gray-800 h-20 flex items-center justify-between px-6">
            <p class="text-white hover:text-gray-200">
                <a href="/home" class="hover:text-gray-200 hover:underline">home</a> &gt;
                <a href="/section/MEDECINE" class="font-bold hover:text-gray-200">{{ section }}</a>
            </p>
            <div class="hidden md:flex items-center">
                <a href="{% url 'home' %}" class="text-white hover:text-gray-200 mr-4">Return at the list of topics</a>
                <a href="{% url 'create-ftopic' %}" class="text-white hover:text-gray-200">Create a new topic</a>
            </div>
        </div>
        <div class="div-MEDECINE-section bg-gray-100 rounded-lg shadow-lg p-6">
            <h2 class="text-3xl text-gray-800 mb-4">Section: {{ section }}</h2>
            <hr class="border-gray-300 mb-4">
            {% if topics %}
            <ul class="space-y-4">
                {% for topic in topics %}
                <li class="bg-white rounded-md shadow-md p-4">
                    <a href="{% url 'topic-detail' slug=topic.slug %}"
                        class="text-blue-500 font-medium hover:underline">{{ topic.title }}</a>
                    <p class="text-gray-600 text-sm">Created by {{ topic.author.username }} on {{ topic.created_at }}
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-gray-500">No topics found.</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}