{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}

{% block extra_css %}
{% tailwind_css %}
{% endblock %}

{% block content %}
<main>
    <div class="div-changepass">
        <h3>ChangePassword</h3>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <hr>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">ChangePassword</button>
        </form>
    </div>
</main>
{% endblock content %}