{% extends 'base.html' %}
{% load tailwind_tags %}

{% block extra_css %}
{% tailwind_css %}
{% endblock %}

{% block content %}
<main class="flex items-center justify-center h-full">
  <div class="user-card border-2 rounded-lg p-5 w-full max-w-md">
    <h3 class="text-center mb-4">Change Password</h3>
    {% if message %}
    <p class="text-center text-green-500 mb-4">{{ message }}</p>
    {% endif %}
    <hr class="mb-4">
    <form method="post" class="space-y-4">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600">Change Password</button>
    </form>
  </div>
</main>
{% endblock content %}
