{% extends 'base.html' %}
{% load tailwind_tags %}

{% block content %}
<main class="flex items-center justify-center h-full">
    <div class="success-message bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
        role="alert">
        <strong class="font-bold">Success!</strong>
        <span class="block sm:inline ml-2">You have successfully changed your password.</span>
        <a href="{% url 'home' %}" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.35 5.65a.5.5 0 0 1 0 .7l-3.5 3.5a.5.5 0 0 0 0 .7l3.5 3.5a.5.5 0 0 1-.7.7l-3.5-3.5a1.5 1.5 0 0 1 0-2.12l3.5-3.5a.5.5 0 0 1 .7 0zm-7 0a.5.5 0 0 0-.7 0l-3.5 3.5a1.5 1.5 0 0 0 0 2.12l3.5 3.5a.5.5 0 0 0 .7-.7l-3.5-3.5a.5.5 0 0 1 0-.7l3.5-3.5a.5.5 0 0 0 0-.7z" />
            </svg>
        </a>
    </div>
</main>
{% endblock content %}