{% extends 'base.html' %}
{% load tailwind_tags %}

{% block content %}
<main class="max-w-md mx-auto mt-8 px-4 py-8 bg-white shadow-lg rounded-lg">
  {% if validlink %}
  <h3 class="text-lg font-semibold mb-4">Change Password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Change
      Password</button>
  </form>
  {% else %}
  <p class="text-red-500">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
  {% endif %}
</main>
{% endblock %}