{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}

{% block content %}
{% block extra_css %}
<style>
  body {
    background-image: url("{% static 'assets/loginBG.jpg' %}");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .errorlist {
    display: none;
  }
</style>
{% endblock extra_css %}
<main>
  <div class="bg-cover bg-center bg-no-repeat h-screen flex items-center justify-center">
    <div class="bg-white p-7 rounded-lg shadow-md max-w-md">
      <h2 class="text-2xl font-semibold text-center">Forgot Password</h2>
      <p class="text-center mb-4 text-gray-500">Enter your email</p>
      <div class="div-form">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit"
            class="mt-4 w-full px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}