{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}

{% block content %}
<main>
  <div class="div-restpass-done">
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
      <br>
      <a id="returnto" href="{% url 'login' %}">Return to login</a>
    </p>
  </div>
</main>
{% endblock %}
